<div *ngFor="let product of products" fxFlex.gt-md="25" fxFlex.md="30" fxFlex.lt-md="40" fxFlex.xs="100" class="product" fxFlexOrder="asc" fxLayoutAlign="space-around center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{product.name | slice:0:50}}</mat-card-title>
        <mat-card-subtitle>{{product.type | slice:0:50}}</mat-card-subtitle>
      </mat-card-header>
      <img appRandomImage mat-card-xl-image fxFill [src]='' alt="product random">
      <mat-card-content>
        <h2 fxFlex fxLayoutAlign="end center">
          Price: {{product.unitPrice | currency : '$'}}
        </h2>
      </mat-card-content>
      <mat-card-actions fxFlex="45" fxLayoutAlign="space-between center">
        <button mat-button fxFlex.lt-md="10">{{product.stock}}</button>
        <button mat-button fxHide.lt-md fxFlex [disabled]="product.stock <= 0" (click)="addToCart(product)">ADD TO CART</button>
        <button mat-button fxHide.gt-sm fxFlex [disabled]="product.stock <= 0" (click)="addToCart(product)"><mat-icon>add_shopping_cart</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
