mat-sidenav {
  margin: 16px 16px 50px;
  // min-width: 50vw;
  border-right: none;
  background: #000000;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}
